body{
	background-color: salmon;
}

#container{
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	color: #DDDDDD;
}

#topbar{
	height: 145px;
	background-image: url(images/Top-bar.png);
	background-repeat: no-repeat;

}

#username{
	text-align: center;
	font: arial;
}

#follower-count{
	height: 355px;
	background-image: url(images/follower-count.png); ;
}

#profile-picture{
	height: 280px;
	width: 280px;
	border-radius: 50%;
	margin-top: 40px;
	margin-left: 46px;
}

.ig-image{
	display: inline-block;
	display: 50%;
	width: 525px;
	height: 300px

	
}

#bottom-bar{
	height: 135px;
	background-image: url(images/bottom-bar.png);
}